.title {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #394a6d;
}

.title.item img:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.content p {
    color: #ffffff;
    background-color: #305c91;
}